server:
  port: 8080
  servlet:
    context-path: /api

spring:
  application:
    name: ev-data-marketplace
  
  datasource:
    url: jdbc:mysql://localhost:3306/ev_marketplace?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: evuser
    password: evpassword
    driver-class-name: com.mysql.cj.jdbc.Driver
    

      
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

jwt:
  secret: ThisIsAMuchLongerAndMoreSecureSecretKeyForOurEVMarketplaceProject2025
  expiration: 86400000 # 24 hours

logging:
  level:
    com.evmarketplace: DEBUG
    org.springframework.security: DEBUG
